<div class="container mt-5">
  <div class="col-lg-8 mx-auto">
    <div class="card card-body">

      <p *ngIf="users.length == 0" class="text-center my-5 text-danger"> No users found</p>
      <div *ngIf="users.length >0">
        <h4 class="text-center mb-3">Users <a routerLink="/" class="btn btn-sm btn-primary float-right">Add user</a>
        </h4>
        <input #searchInput type="search" placeholder="search.." class="form-control mb-3" (change)="handleSearchData()" />
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <td>{{user.userName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td>
                <button class="btn btn-danger mr-2 btn-sm" (click)="deleteData(user)">Delete</button>
                <button class="btn btn-primary btn-sm" (click)="handleEdit(user , i)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>